<navigation-menu [navUnderlineColor]="this.linkHoverColor"></navigation-menu>
<main>
  <article>
    <div id="article-container">
      <h1>HELLO,</h1>
      <div id="para-content">
        <p>
          To start off, I encourage that you’re having an energy filled day and
          that all your health is with you. 😎
        </p>
        <p>My name is Ato Koomson.</p>
        <p>
          I recently graduated with a Computer Engineering degree from York
          University.
        </p>
        <p>
          Overall, I have a big interest in computer software however recently,
          I’m really interested in developing maintainable websites for people
          to use.
        </p>
        <p>
          This is my personal website. I hope you have a nice time visiting.
        </p>
      </div>
    </div>
  </article>
</main>
<contact-menu
  id="contact"
  [linkHoverColor]="this.linkHoverColor"
></contact-menu>
